{% extends 'base/base.html' %}
{% block content %}

<div class="alert alert-success" role="alert">
  <h4 class="text-center alert-heading">LISTADO DE CATEGORIAS</h4>
  <p class="text-center">Esta es una lista de las categorias existentes en nuestro sistema</p>
</div>
 <a class="btn btn-info btn-block" href="{% url 'categoria:categoria_crear' %}">Agregar categoría</a>
<hr>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th class="text-center">Id</th>
      <th class="text-center">Nombre</th>
    </tr>
  </thead>
  <tbody>
    {% if object_list %}
    {% for categoria in object_list %}
    <tr>
      <td class="text-center">{{ categoria.id }}</td>
      <td class="text-center">{{ categoria.nombre }}</td>
      <td class="text-center">
        <a class="btn btn-primary" href="{% url 'categoria:categoria_editar' categoria.id %}">Modificar</a>
      </td>
      <td class="text-center">
        <a class="btn btn-danger" href="{% url 'categoria:categoria_eliminar' categoria.id %}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <h2>NO HAY REGISTROS DE Categoria!!!</h2>
    {% endif %}

  </tbody>
</table>

{% endblock %}