{% extends 'base/base.html' %}

{% block content %}
<div class="alert alert-success" role="alert">
  <h4 class="text-center alert-heading">MODIFICAR CATEGORIA</h4>
  <p class= "text-center">Se hará una modificación de una categoría existente seleccionada por el administrador</p>
</div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button class="btn btn-success"	type="submit">Guardar</button>
    <a class="btn btn-default" href="{% url 'categoria:categoria_listar' %}">Cancelar</a>
  </form>
{%endblock%}